.total{
    margin-top: 60px;
}
.signcard{
   margin-top: 20px;
    height: 80%;
    width : 50%;
    margin-left: 400px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signrow{
    margin-top: 20px;
}
.signrow Button{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #6dbdff;
    border: 1px solid #0d0ab4;
    border-radius: 5%;
    height: 40px;
    width: 100px;
}